.contenedor-imagen{
    display: flex;
    justify-content: space-around;

}

.contenedor-servicio{
    background-color: gray;
    width: 90%;
    height: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  
}

.contenedor-principal{

    margin-top: 2rem;
}

.logo{
    width: 50%;
}

.contenedor-logout{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(85, 85, 85);
    margin-bottom: 2rem;
}

.p-servicio{
    text-align: center;
    padding-top: 5px;
}

.boton-nav{
    margin: 10px;
    text-decoration: none;
}

.contenedor-usuario{
    border: 1px solid rgb(85,85,85);
    padding: 1.5rem;
    border-radius: 2rem;
}

.bienvenido{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
