.boton-ver{
    background: rgb(47, 47, 226);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30%;
}
.contenedor-logout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(85, 85, 85);
}
