<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reservas realizadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas realizadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let reserva of reservas">
    <div style="display:flex;justify-content:space-between;margin-top: 10px;margin-left: 20px;margin-right: 20px;">
  
      <p>{{reserva.servicio}}</p>
      <p>{{reserva.fecha}}</p>
      <p>{{reserva.hora}}:00</p>
      <button class="boton-ver" id="open-modal" (click)="abrirReserva(reserva)">Ver</button>
    </div>

  </div>

</ion-content>


