.contenedor-logout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(85, 85, 85);
}

main{
    background-color: black;
    color: white;
}
.item-contenedor{
    background-color: black;
    color:white
}

.label-contenedor{
    background-color:black;
    color:white
}