<main class="contenedor-vista-login">
  <div class="contenedor-formulario">
    <h1>Login</h1>
    <form>
      <div class="contenedor-inputs">
        <div>
          <label>Correo electrónico:</label>
          <input [(ngModel)]="user" name="user" type="email" placeholder="example@correo.com">
        </div>
        <div>
          <label>Contraseña:</label>
          <input [(ngModel)]="password" name="password" type="password" placeholder="***********">
        </div>
    </div>
      <div class="contenedor-boton">
        <button (click)="onHomeButtonPressed()">Iniciar sesión</button>
      </div>
      <div class="contenedor-olvido-password">
        <a (click)="onRecuperarPasswordButtonPressed()">Recuperar contraseña</a> 
        <a (click)="onRegisterButtonPressed()">Crear cuenta</a>
      </div>
        
      
    </form>
  </div>


</main>