
<main class="contenedor-vista-login">
  <div class="contenedor-formulario">
    <h1>Login</h1>
    <form>
      <label>Correo electrónico:</label>
      <input type="email" placeholder="example@correo.com">

      <label>Contraseña:</label>
      <input type="password" placeholder="***********">

      <div class="contenedor-boton">
        <button>Iniciar sesión</button>
      </div>
      <div class="contenedor-olvido-password">
        <p>¿Olvidaste tu contraseña?</p> <a href="">Click Aquí</a>
      </div>
        <a>Crear cuenta</a>
      
    </form>
  </div>


</main>


