.imagen{
    border: 2px solid white;
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    margin-top: 2rem;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
}

main{
    background: black;
    color:white;
    height:100%;
}