<main>
  <div class="contenedor-logout">
    <a (click)="onLogoutButtonPressed()">Cerrar sesion</a>
  </div>

  <div class="contenedor-imagen">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <div>
      <p>Bienvenido</p>
      <p>{{user}}</p>
    </div>
  </div>

  <h1>Servicios</h1>
  <div class="contenedor-principal">
    <div class="contenedor-servicio">

    </div>
    <div class="contenedor-servicio">

    </div>
  </div>

  <div class="contenedor-principal">
    <div class="contenedor-servicio">

    </div>
    <div class="contenedor-servicio">

    </div>
  </div>


  <div class="contenedor-principal">
    <div class="contenedor-servicio">

    </div>
    <div class="contenedor-servicio">

    </div>
  </div>





</main>