<ion-content>
<main>
  
  <div class="contenedor-logout">
    <p style="color:white;margin-left: 10px;">{{email}}</p>
    <a (click)="onLogoutButtonPressed()" class="boton-nav"><ion-icon name="log-out-outline" style="margin-right: 5px;font-size: 1.5rem;"></ion-icon></a>
  </div>

  <div style="display: flex;justify-content: center;margin-bottom: 10px;">
    <button class="boton-ubicacion" style="margin-left: 10px;margin-right: 10px;" (click)="onPressComentarios()">Comentarios</button>
    <button class="boton-ubicacion" style="margin-left: 10px;margin-right: 10px;" (click)="onPressReservas()">Reservas</button>
  </div>

  <div class="contenedor-info-user">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <div class="contenedor-usuario">
      <div style="display: flex; justify-content: space-between;">
        <img class="imagen-perfil" [src]="photoURL" alt="img-perfil">
        <button class="boton-foto" (click)="onPressProfile()">Cambiar</button>
      </div>
      <p class="info-usuario">{{email}}</p>
      <button class="boton-ubicacion" (click)="onPressUbicacion()">Ver ubicación</button>
    </div>
  </div>
  <h1 style="text-align: center;">Servicios</h1>

  <div class="contenedor-principal">
    <a (click)="onPressDegradadoAdulto()" class="enlace-servicio">
      <div class="contenedor-servicio contenedor-imagen-degradado">
        <p class="p-servicio">Corte degradado adulto</p>
      </div>
    </a>
    <a (click)="onPressPerfiladoBarba()" class="enlace-servicio">
      <div class="contenedor-servicio contenedor-imagen-barba">
        <p class="p-servicio">Perfilado de barba</p>
      </div>
    </a>
  </div>

  <div class="contenedor-principal">
    <a (click)="onPressPerfiladoCejas()" class="enlace-servicio">
      <div class="contenedor-servicio contenedor-imagen-cejas">
        <p class="p-servicio">Perfilado de cejas</p>
      </div>
    </a>
    <a (click)="onPressTenidoPelo()" class="enlace-servicio">  
      <div class="contenedor-servicio contenedor-imagen-teñido">
        <p class="p-servicio">Teñido de cabello</p>
      </div>
    </a>
  </div>

  <div class="contenedor-principal">
    <a (click)="onPressDegradadoInfantil()" class="enlace-servicio">
      <div class="contenedor-servicio contenedor-imagen-infantil">
        <p class="p-servicio">Corte cabello niño</p>
      </div>
    </a>
    <a (click)="onPressPromo()" class="enlace-servicio">
      <div class="contenedor-servicio contenedor-imagen-promo">
        <p class="p-servicio">Promoción</p>
      </div>
    </a>
  </div>
</main>
</ion-content>