.contenedor-info-user{
    display:flex;
    justify-content:center;
}

.contenedor-imagen-degradado{
    background-image: url('../../assets/degradado_adulto.png');
    background-position: center;
    background-size: cover;
}
.contenedor-imagen-cejas{
    background-image: url('../../assets/cejas.jpg');
    background-position: center;
    background-size: cover;
}
.contenedor-imagen-teñido{
    background-image: url('../../assets/teñido.jpg');
    background-position: center;
    background-size: cover;
}
.contenedor-imagen-barba{
    background-image: url('../../assets/barba.jpg');
    background-position: center;
    background-size: cover;
}
.contenedor-imagen-promo{
    background-image: url('../../assets/promo.png');
    background-position: center;
    background-size: cover;
}
.contenedor-imagen-infantil{
    background-image: url('../../assets/corte-infantil.jpg');
    background-position: center;
    background-size: cover;
}

.contenedor-servicio{
    background-color: gray;
    width: 10rem;
    height: 8rem;
    border-radius: 2rem;
    border:1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  
}

.logo{
    width: 50%;
}

.contenedor-logout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(85, 85, 85);
}

.p-servicio{
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding-top: 2px;
    padding-bottom: 2px;

}

.enlace-servicio{
    color: white;
    text-decoration: none;
}

.boton-nav{
    margin: 10px;
    text-decoration: none;
}

.contenedor-usuario{
    border: 1px solid rgb(85,85,85);
    padding: 1.5rem;
    border-radius: 2rem;
  
}

.bienvenido{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.contenedor-comentarios{
    display: flex;
    justify-content: center;
    background:linear-gradient( rgb(65, 65, 65),gray,rgb(90, 90, 90));
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.boton-ubicacion{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1rem;
    background: rgb(83, 83, 255);
}

.boton-foto{
    border-radius: 1rem;
    background: rgb(83, 83, 255);
    padding-right: 10px;
    padding-left: 10px;
}
.imagen-perfil{
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 100%;
}

main{
    background: #000000;
    color:white
}