<main>
  <div class="contenedor-logout">
    <a (click)="onLogoutButtonPressed()">Cerrar sesion</a>
  </div>

  <div class="contenedor-imagen">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <div>
      <p>Bienvenido</p>
      <p>{{user}}</p>
    </div>
  </div>
  <h1>Servicios</h1>
  <div class="contenedor-principal">
    <a href="/calendario" class="enlace-servicio">
      <div class="contenedor-servicio">
        <img src="" alt="logo degradado adulto">
        <p class="p-servicio">Corte degradado adulto</p>
      </div>
    </a>
    <a href="/calendario" class="enlace-servicio">
      <div class="contenedor-servicio">
        <img src="" alt="logo perfilado barba">
        <p class="p-servicio">Perfilado de barba</p>
      </div>
    </a>

  </div>

  <div class="contenedor-principal">
    <a href="/calendario" class="enlace-servicio">
      <div class="contenedor-servicio">
        <img src="" alt="logo perfilado cejas">
        <p class="p-servicio">Perfilado de cejas</p>
      </div>
    </a>
    <a href="/calendario" class="enlace-servicio">  
      <div class="contenedor-servicio">
        <img src="" alt="logo teñido cabello">
        <p class="p-servicio">Teñido de cabello</p>
      </div>
    </a>
  </div>


  <div class="contenedor-principal">
    <a href="/calendario" class="enlace-servicio">
      <div class="contenedor-servicio">
        <img src="" alt="logo cabello niño">
        <p class="p-servicio">Corte cabello niño</p>
      </div>
    </a>
    <a href="/calendario" class="enlace-servicio">
      <div class="contenedor-servicio">
        <img src="" alt="logo promocion">
        <p class="p-servicio">Promoción</p>
      </div>
    </a>
  </div>





</main>