.contenedor-imagen{
    display: flex;
    justify-content: space-around;

}

.contenedor-servicio{
    background-color: gray;
    width: 8rem;
    height: 8rem;
    border-radius: 2rem;
}

.contenedor-principal{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.logo{
    width: 30%;
}

.contenedor-logout{
    display: flex;
    justify-content: end;
}