
<main class="contenedor-vista-registro">
  <div class="contenedor-formulario">
    <h1>Registro</h1>
    <form>
    <div class ="contenedor-inputs">
      <div>
        <label>Correo electrónico:</label>
        <input type="email" placeholder="example@correo.com">
      </div>
        
      <div>
        <label>Nombre:</label>
        <input type="Nombre" placeholder="Gonzalo">
      </div>

      <div>
        <label>Apellidos:</label>
        <input type="Apellidos" placeholder="Jeldes">
      </div>

      <div>
        <label>Contraseña:</label>
        <input type="password" placeholder="***********">
      </div>

      <div>
        <label>Repetir contraseña:</label>
        <input type="password" placeholder="***********">
      </div>


    </div>
      <div class="contenedor-boton">
        <button>Registrarse</button>
      </div>
      <div class="boton-iniciar">
        <a href="">Iniciar sesion</a>
      </div>
    </form>
  </div>


</main>


