
<main class="contenedor-vista-registro">
  <div class="contenedor-formulario">
    <h1>Registro</h1>
    <form>
    <div class ="contenedor-inputs">
      <div>
        <label>Correo electrónico:</label>
        <input type="email" placeholder="example@correo.com" style="margin-top: 0.5rem;margin-bottom: 0.5rem;">
      </div>
        
      <div>
        <label>Nombre:</label>
        <input type="Nombre" placeholder="Gonzalo"  style="margin-top: 0.5rem;margin-bottom: 0.5rem;">
      </div>

      <div>
        <label>Contraseña:</label>
        <input type="password" placeholder="***********"  style="margin-top: 0.5rem;margin-bottom: 0.5rem;">
      </div>

      <div>
        <label>Repetir contraseña:</label>
        <input type="password" placeholder="***********"  style="margin-top: 0.5rem;margin-bottom: 0.5rem;">
      </div>


    </div>
      <div class="contenedor-boton">
        <button>Registrarse</button>
      </div>
      <div class="boton-iniciar" style="padding-bottom: 1rem;">
        <a (click)="onLoginButtonPressed()">Iniciar sesion</a>
      </div>
    </form>
  </div>


</main>


