.contenedor-vista-registro{
    background-image: url(../../assets/fondo.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-formulario{
    background-color: white;
    opacity: 0.8;
    border-radius: 2rem;
    width: 90%;
    height: 70%;
}

.contenedor-boton{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-boton button{
    margin-top: 1rem;
    background-color: rgb(62, 139, 255);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contenedor-olvido-password{
    display: flex;
}

.contenedor-olvido-password p {
    color: black;
}

h1{
    color: black;
    text-align: center;
    font-size: 2rem;
}

label{
    color: black;
    font-weight: bold;
}

input{
    background-color: white;
    display: block;
    margin-top: .1rem;
    margin-bottom: .1rem;
    padding: .5rem;
    border-radius: .8rem;
}
.contenedor-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton-iniciar{
    margin-right: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
}